@{
    ViewData["Title"] = "Controle de Contas sem Planilhas";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>Estamos aqui para te ajudar a controlar suas contas pessoas de forma simples, sem precisar usar planilhas.</p>
</div>