@model ControleContas.Application.ViewModels.ContasViewModel

@{
    ViewData["Title"] = "Cadastrar Contas";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContasTiposId" class="control-label"></label>
                <select asp-for="ContasTiposId" asp-items="@ViewBag.ContasTiposId" class="form-control" ></select>
                <span asp-validation-for="ContasTiposId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" type="color" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VencimentoDia" class="control-label"></label>
                <input asp-for="VencimentoDia" class="form-control" />
                <span asp-validation-for="VencimentoDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" name="Cadastrar" id="Cadastrar" class="btn btn-primary"><span>Cadastrar <i class="bi bi-plus-circle"></i></span></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>
